
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins), 'Arial', sans-serif;
}

/* You can add any truly global styles here */
